* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.line2 {
  position: absolute;
  width: 80%;
  top: 39em;
  left: 7em;
  height: 0.1em;
  background: radial-gradient(white, #1d1c1c);
}

.line3 {
  position: absolute;
  width: 80%;
  top: 72em;
  left: 7em;
  height: 0.1em;
  background: radial-gradient(white, #1d1c1c);
}

.line1 {
  position: absolute;
  width: 80%;
  top: 53em;
  left: 7em;
  height: 0.1em;
  background: radial-gradient(white, #1d1c1c);
  z-index: 1;
}
/* !MAIN BLOCK START */

.info_block__list {
  position: absolute;
  font-weight: 600;
  color: #fff;
  top: 17em;
  left: 4em;
  font-size: 1.5em;
  line-height: 2em;
}
.info_block_title {
  font-size: 3em;
  position: absolute;
  font-weight: 800;
  color: #fff;
  width: 12em;
  top: 2em;
  left: 1.5em;
  line-height: 1.5em;
}
.main_info_block_video {
  width: 100%;
}

.main_info_block {
  position: relative;
  width: 100%;
}

.info_block__content {
  margin: auto 0;
}
.info_block__block_btn {
  position: absolute;
  top: 40em;
  left: 7em;
  z-index: 1;
}

.info_block__left-btn,
.info_block__right-btn {
  height: 3em;
  margin: 0 1em;
  font-size: 1em;
  padding: 0 1em;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

.info_block__left-btn {
  background-color: #e60000;
}

.info_block__right-btn {
  color: #000;
}

.info_block__right-btn:hover {
  background: linear-gradient(to bottom, #ffffff -10%, #3a3a3a 150%);
}
.info_block__left-btn:hover {
  background: linear-gradient(to bottom, #e60000 -10%, #8b0000 150%);
}
/* !MAIN BLOCK END */

/* !BLOCK DESC START */

.block-desc__top {
  margin-top: 10em;
}

.info_block__block-desc {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 47em;
  background: #1d1c1c;
}

.block-desc_top__title {
  font-size: 3em;
  text-align: center;
  margin-top: -1em;
  margin-bottom: 2em;
}

.block-desc_top__desc-list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 2em;
}

.block-desc_top__desc-list-item > h3 {
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1.2em;
}

.block-desc_top__desc-list-item {
  width: 30%;
  margin: 0 1em;
  text-align: start;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.4em;
}
/* !--------------------------------------------- */

.block-desc__bottom {
  width: 100%;
  height: 100vh;
  background: #1d1c1c;
  margin-top: 8em;
}

.block-desc_bottom__title {
  font-size: 3em;
  text-align: center;
  margin-bottom: 2em;
}

.block-desc_bottom__desc-list-item {
  width: 30%;
  margin: 0 1em;
  text-align: start;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.4em;
}

.block-desc_bottom__desc-list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 2em;
}

.block-desc_bottom__desc-list-item > h3 {
  margin-bottom: 1em;
  font-weight: 700;
  font-size: 1.2em;
}

/* !BLOCK DESC END */

/* !BLOCK PICRURES START */

.block_pictures {
  position: absolute;
  width: 100%;
  top: 129em;
  background: #1d1c1c;
  gap: 0;
}

.block_pictures__title {
  font-size: 3em;
  margin-bottom: 2em;
  text-align: center;
  margin-top: -2em;
}
/* TODO--------------1----------------------- */
.block_picture_1,
.block_picture_2,
.block_picture_3 {
  width: 90%;
  margin: 0.2em;
  display: flex;
  margin-left: 7em;
}

.pictures_group_1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0.1em;
}

.picture_laptop {
  width: 100%;
  margin: 0.1em;
  height: 26em;
}
.picture_item_1:hover,
.picture_laptop:hover {
  transform: scale(1.03);
  transition: 0.4s;
  box-shadow: 1px 1px 5px #000;
}

.picture_item_1 {
  width: 40%;
  margin: 0.1em;
}

/* todo---------------1----------------------- */
/* todo---------------2----------------------- */
.pictures_group_2 {
  width: 45.9%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.picture_book {
  width: 43.5%;
  margin: 0.1em;
  height: 26em;
  margin-left: 0.2em !important;
}
.picture_item_2:hover,
.picture_book:hover {
  transform: scale(1.03);
  transition: 0.4s;
  box-shadow: 1px 1px 5px #000;
}

.picture_item_2 {
  width: 49.4%;
  margin: 0.1em;
}

/* todo---------------2----------------------- */

/* !BLOCK PICRURES END */
